absl-py==0.9.0
ago==0.0.93
aiml==0.9.2
akshare==1.4.92
alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.0
argh==0.26.2
asgiref==3.2.3
astor==0.8.0
astroid==2.4.0
attrs==21.4.0
Automat==0.8.0
autopep8==1.5.2
awscli==1.18.46
Babel==2.8.0
backcall==0.1.0
baostock==0.8.8
bcrypt==3.2.0
beautifulsoup4==4.10.0
bert==2.2.0
bert4keras==0.7.0
bleach==3.1.0
blinker==1.4
blis==0.4.1
bokeh==1.4.0
borax==3.0.0
boto==2.49.0
boto3==1.10.12
botocore==1.13.50
branca==0.5.0
bs4==0.0.1
cached-property==1.5.2
cachetools==3.1.1
catalogue==1.0.0
catboost==0.22
cattrs==1.10.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cmake==3.16.3
cobble==0.1.3
colorama==0.4.3
compress-pickle==1.0.1
configparser==5.0.0
constantly==15.1.0
crypto==1.4.1
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
datedelta==1.3
decorator==5.1.1
defusedxml==0.6.0
Django==3.0.4
django-cors-headers==3.2.1
django-echarts==0.3.6
django-haystack==2.8.1
docker==4.4.1
docutils==0.15.2
docx==0.2.4
dotmap==1.3.13
elasticsearch==7.1.0
elasticsearch-dsl==7.1.0
emoji==0.5.4
en-core-web-sm==2.2.5
english==2020.7.0
entrypoints==0.3
erlastic==2.0.0
et-xmlfile==1.1.0
fake-useragent==0.1.11
fasttext==0.9.1
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.1
Flask-BabelEx==0.9.3
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-paginate==0.5.5
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
folium==0.12.1.post1
fonttools==4.33.3
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gensim==4.0.0
geographiclib==1.50
geopy==1.21.0
gevent==20.5.0
google-auth==1.7.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grapheme==0.5.0
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.25.0
h5py==2.10.0
helpdev==0.6.10
hjson==3.0.1
html5lib==1.1
hyperlink==19.0.0
idna==2.8
imagesize==1.2.0
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==0.23
incremental==17.5.0
inflection==0.3.1
install==1.3.3
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
jieba==0.42.1
jieba3k==0.35.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
JPype1==1.2.1
jsonpath==0.82
jsonpickle==1.4.1
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyter-echarts-pypkg==0.1.5
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
LAC==2.0.5
langdetect==1.0.8
Lasagne==0.1
lazy-object-proxy==1.4.3
liblinear==2.11.2
lightgbm==2.3.1
lightNLP==0.4.1
livereload==2.6.1
lml==0.0.9
Logbook==1.5.3
ltp==4.1.3.post1
lxml==4.4.1
mammoth==1.4.10
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.5.2
mccabe==0.6.1
minio==6.0.0
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlxtend==0.17.2
mock==4.0.2
monotonic==1.5
more-itertools==5.0.0
MulticoreTSNE==0.1
multipledispatch==0.6.0
murmurhash==1.0.2
mysqlclient==1.4.6
Naked==0.1.31
nbconvert==5.6.1
nbformat==4.4.0
neotime==1.7.4
newspaper3k==0.2.8
ngender==0.1.1
nltk==3.4.5
notebook==6.0.1
numpy==1.18.1
oauthlib==3.1.0
objgraph==3.4.1
olefile==0.46
opencv-python==4.4.0.44
openpyxl==3.0.9
opt-einsum==3.1.0
packaging==20.9
paddlepaddle==1.8.4
pandas==1.0.2
pandas-datareader==0.8.1
pandocfilters==1.4.2
pansi==2020.7.3
paramiko==2.7.2
parsedatetime==2.5
parsel==1.5.2
parso==0.5.1
passlib==1.7.2
pathlib==1.0.1
pathtools==0.1.2
patsy==0.5.1
pdfkit==0.6.1
pdfminer.six==20200104
pdfplumber==0.5.21
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.2
plac==1.1.3
plotly==4.6.0
ply==3.11
port-for==0.3.1
preshed==3.0.2
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
Protego==0.1.16
protobuf==3.11.4
psutil==5.7.0
ptyprocess==0.6.0
py-mini-racer==0.6.0
py2neo==2021.0.0
pyahocorasick==1.4.4
pyasn1==0.4.7
pyasn1-modules==0.2.7
pybind11==2.4.3
pycodestyle==2.6.0
pycorenlp==0.3.0
pycparser==2.19
pycryptodome==3.9.7
PyDispatcher==2.0.5
pyecharts==0.1.9.4
pyecharts-jupyter-installer==0.0.3
PyExecJS==1.5.1
pygal==2.4.0
pygame==2.1.2
Pygments==2.4.2
pygtrie==2.4.2
PyHamcrest==1.9.0
pylint==2.5.0
pymongo==3.10.1
pymusic-dl==3.0.1
PyMySQL==0.9.3
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypinyin==0.40.0
pyquery==1.4.1
pyrsistent==0.15.4
python-dateutil==2.8.0
python-docx==0.8.10
python-engineio==3.13.0
python-slugify==4.0.0
python-socketio==4.6.0
pytorch-crf==0.7.2
pytorch-pretrained-bert==0.6.1
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.0
QDarkStyle==2.8.1
qtconsole==4.5.5
QtPy==1.9.0
Quandl==3.4.8
QuantLib-Python==1.16.1
queuelib==1.5.0
rarfile==4.0
readability-lxml==0.7.1
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
recognizers-text-sequence==1.0.2a2
recognizers-text-suite==1.0.2a2
regex==2019.11.1
requests==2.22.0
requests-cache==0.9.3
requests-file==1.5.1
requests-oauthlib==1.2.0
retrying==1.3.3
revtok==0.0.3
rqalpha==4.1.4
rqrisk==0.0.12
rsa==3.4.2
rstcheck==3.3.1
s3transfer==0.2.1
sacremoses==0.0.35
scikit-learn==0.24.1
scikit-neuralnetwork==0.7
scipy==1.4.1
Scrapy==1.8.0
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.83
service-identity==18.1.0
shellescape==3.8.1
simplejson==3.17.0
six==1.15.0
sklearn==0.0
smart-open==1.9.0
snowballstemmer==2.0.0
snownlp==0.12.3
some-package==0.1
sortedcontainers==2.2.2
soupsieve==1.9.5
spacy==2.2.4
speaklater==1.3
Sphinx==3.0.3
sphinx-autobuild==0.7.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.12
sqlparse==0.3.0
srsly==1.0.2
stanfordcorenlp==3.9.1.1
stanza==1.1.1
statsmodels==0.10.2
suds==1.0.0
synonyms==3.16.0
tabulate==0.8.7
tensorboard==1.15.0
tensorboardX==1.9
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
textblob==0.15.3
Theano==1.0.4
thinc==7.4.0
threadpoolctl==2.1.0
tinysegmenter==0.3
tldextract==2.2.2
tokenizers==0.10.1
toml==0.10.0
torch==1.3.1
torchcrf==0.0.1
torchtext==0.5.0
torchvision==0.4.2
tornado==6.0.3
tqdm==4.44.1
traitlets==4.3.3
transformers==4.4.2
tushare==1.2.54
Twisted==19.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
unicodecsv==0.14.1
Unipath==1.1
url-normalize==1.4.3
urllib3==1.25.11
uWSGI==2.0.18
w3lib==1.21.0
Wand==0.6.1
warcio==1.7.3
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.16.1
Whoosh==2.7.4
widgetsnbextension==3.5.1
wordcloud==1.6.0
wordexpansion==1.1
wrapt==1.11.2
WTForms==2.2.1
xcrun==0.4
xgboost==0.90
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
xmltodict==0.12.0
zipp==0.6.0
zope.interface==4.7.1
